<!DOCTYPE html>
<html>
<head>

<title>College Assignment Portal</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<nav>

<div class="logo">SMART CAMPUS</div>

<ul>
<li>HOME</li>
<li>ABOUT</li>
<li>SERVICE</li>
<li>CONTACT</li>
</ul>

</nav>

<div class="login-container">

<h2>LOGIN</h2>

<form action="/login" method="post">

<input type="text" name="username" placeholder="Email">

<input type="password" name="password" placeholder="Password">

<div class="options">

<label>
<input type="checkbox"> Remember Me
</label>

<span>Forgot Password?</span>

</div>

<button>Login</button>

<p>Don't have an account? <span class="register">Register</span></p>

</form>

</div>

</body>
</html>